<div>
   <h3>Créditos</h3>
   <img src="/images/MDuran.jpg" height="80px"/>
   <p>Desarrollada por Mario Durán García</p>
   <h5>Curso MiriadaX</h5>
   <h6><i>Madrid (España) - 06 de Julio de 2015</i></h6>
</div>
