<h2>Login</h2>

<form method="POST" action="/login">

   <div class="field">
      <lavel for="login">Login:</lavel> <br/>
      <input type="text" id="login" name="login" size="30" />
   </div>

   <div class="field">
      <lavel for="password">Password:</lavel> <br/>
      <input type="password" id="password" name="password" size="30" />
   </div>

   <div clas="actions">
      <input name="commit" type="submit" value="Login" />
   </div>
</form>
